body {
    background-color: #9F8170;
    font-family: Arial, sans-serif;
    text-align: center;
}

.grid-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: #EFDECD;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.grid-nav a {
    background-color: #DAC8AE;
    color: #5C4033;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .grid-nav {
        grid-template-columns: 1fr;
    }
}